@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:wght@100..900&display=swap');

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }
  /* banner style strat */
  .display-flex{
    display: flex;
  }
  .nav-items{
list-style: none;
margin-right: 30px;

  }
  .nav-link{

    text-decoration: none;

  }
  .Orange{
    color: #FEA301;
  }
  .text-secondery{
    color: #01ACFD;
  }
  .text-primary{
    color: #05D4DF;
  }
  .light-blue{
    color: #5D58EF;
  }
  .btn-primary{
    background-color: #FEA301;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .banner-description{
    font-size: 1.4rem;
    max-width: 640px;
  }
  .Black{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 12px;
  }
  .banner-title{
    font-size: 4.2rem;
    font-weight: 700;
  }
  .banner-content{
    max-width: 640px;
    min-height: 575px;
    margin-bottom: 50px;
  }
 .banner-content img{
  width: 100%;
 }
 /* curriculum related style */
 .curriculum-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-top: 30px;
 }
 .curriculum-title{
    text-align: center;
    max-width: 1440px;
 }
 .kinder{
    background-color: #DEF5FF;
 }
 .Elementary{
    background-color: #FFF4DC;
 }
 .Middle{
    background-color: #F2E8FF;
 }
 .primary{
    color: #808080;
 }
 .curriculum-card{
    width: 367px;
    height: 476px;
    border-radius: 18px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 33px;
 }
 .curriculum-card-title{
    font-size: 1.25rem;
    font-weight: 700;
 }
 /* stories section strat */
 .stories-title{
  text-align: center;
  margin-top: 76px;
 }
 #November-badge{
  margin-top: -250px;
  margin-left: -250px;
 }
 #November-badge-1{
  margin-top: -10px;
  margin-left: -5px;
 }
 
 .text-primary-1{
  background-color:#3CD8E8;
  color: white;
  border: none;
  border-radius: 47.93px;
 }
 .light-blue-1{
  background-color: #5D58F0;
  color: white;
  border: none;
  border-radius: 47.93px;
 }
 .light-green{
  background-color: #95B226;
  color: white;
  border: none;
  border-radius: 47.93px;
 }
 .stories-container{
  display:grid;
 
  grid-template-columns: repeat(3,1fr);
  gap:18px;
  background-color: white;
  
 }
.picture-1{
  grid-row: span 3;
  max-width: 540px;


 }
 .picture-1 img{
  width: 100%;
 }
 .btn-secondery{
  background-color: black;
  color: white;
  text-align: center;
 }
 
 
 

 

 




  /* responsive style strat */
  @media screen and (max-width:576px){
    .navbar,.nav-links,.banner{
      flex-direction: column;
      justify-items: center;
    }
    .curriculum-container{

      grid-template-columns: repeat(1,1fr);
      justify-content: center;
      gap: 24px;
    }
    
    
    .stories-container{
      grid-template-columns: repeat(1,1fr);
    }
    
  }
   
    
  
  

  
